* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

div, h1, h2, h3, h4, h5, ul, li, p {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

section.intro, .menu ul.nav li ul.sub-nav, .menu ul.nav {
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

/* latin */
@font-face {
  font-family: "Roboto-light";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto-regular";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto-medium";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto-medium-italic";
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto-bold";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto-black";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto-bold";
  letter-spacing: 7px;
}

h2 {
  font-size: 60px;
}
@media (max-width: 540px) {
  h2 {
    font-size: 42px;
  }
}

h3 {
  font-size: 42px;
}
@media (max-width: 540px) {
  h3 {
    font-size: 24px;
  }
}

p, a, span, li, label {
  font-family: "Roboto-light";
  letter-spacing: 3px;
}

p {
  font-size: 14px;
}
@media (max-width: 540px) {
  p {
    font-size: 12px;
  }
}

body {
  background-color: #efefef;
}

section:first-of-type {
  position: relative;
  top: 90px;
}
@media (max-width: 768px) {
  section:first-of-type {
    top: 48px;
  }
}

.spacer {
  width: 100%;
}
.spacer-small {
  height: 20px;
}
@media (max-width: 768px) {
  .spacer-small {
    height: 12px;
  }
}
.spacer-medium {
  height: 42px;
}
@media (max-width: 768px) {
  .spacer-medium {
    height: 24px;
  }
}
.spacer-large {
  height: 72px;
}
@media (max-width: 768px) {
  .spacer-large {
    height: 48px;
  }
}

.menu {
  z-index: 1000;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.3);
  -moz-box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.3);
  box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.3);
}
@media (max-width: 768px) {
  .menu {
    height: 48px;
  }
}
.menu a.nav-mobile {
  display: none;
}
@media (max-width: 768px) {
  .menu a.nav-mobile {
    display: block;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: #0073CF;
    z-index: 500;
  }
}
.menu a.nav-mobile i.fas {
  padding: 15px;
  color: #fff;
  font-size: 18px;
}
.menu a.nav-mobile i.fas:first-of-type {
  display: block;
}
.menu a.nav-mobile i.fas:last-of-type {
  display: none;
}
.menu a.active-toggle i.fas:first-of-type {
  display: none;
}
.menu a.active-toggle i.fas:last-of-type {
  display: block;
}
.menu .mobile-logo-container {
  display: none;
}
@media (max-width: 768px) {
  .menu .mobile-logo-container {
    display: block;
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 500;
  }
}
.menu .mobile-logo-container a img {
  width: auto;
  height: 28px;
}
.menu ul.nav {
  height: inherit;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media (max-width: 768px) {
  .menu ul.nav {
    position: absolute;
    top: -100%;
  }
}
.menu ul.nav li {
  min-width: 110px;
  height: 100%;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media (max-width: 768px) {
  .menu ul.nav li {
    width: 100%;
    min-width: 0;
    height: auto;
    margin: 0;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
}
.menu ul.nav li a {
  padding: 0 12px;
  color: #333;
  font-family: "Roboto-medium";
  font-size: 12px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .menu ul.nav li a {
    width: 100%;
  }
}
.menu ul.nav li a:hover, .menu ul.nav li a:active {
  color: #0073CF;
  font-family: "Roboto-bold";
}
.menu ul.nav li:hover ul.sub-nav {
  top: 100%;
  opacity: 1;
}
@media (max-width: 768px) {
  .menu ul.nav li:hover ul.sub-nav {
    top: auto;
  }
}
.menu ul.nav li ul.sub-nav {
  width: 100%;
  height: auto;
  position: absolute;
  top: -100%;
  background-color: #fff;
  opacity: 0;
  -webkit-box-shadow: 2px 2px 1px 0 rgba(51, 51, 51, 0.3);
  -moz-box-shadow: 2px 2px 1px 0 rgba(51, 51, 51, 0.3);
  box-shadow: 2px 2px 1px 0 rgba(51, 51, 51, 0.3);
}
@media (max-width: 768px) {
  .menu ul.nav li ul.sub-nav {
    position: relative;
    top: auto;
    background-color: transparent;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
}
.menu ul.nav li ul.sub-nav li {
  text-align: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .menu ul.nav li ul.sub-nav li {
    padding: 0;
    text-align: center;
  }
  .menu ul.nav li ul.sub-nav li:last-of-type {
    margin-bottom: 0 !important;
  }
}
.menu ul.nav li ul.sub-nav li a {
  padding: 12px;
}
@media (max-width: 768px) {
  .menu ul.nav li.logo-container {
    display: none;
  }
}
.menu ul.nav li.logo-container a img {
  width: auto;
  height: 36px;
}
@media (max-width: 768px) {
  .menu ul.active-menu {
    width: 100%;
    height: auto;
    min-height: 220px;
    top: auto;
    background-color: rgba(0, 115, 207, 0.9);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
  .menu ul.active-menu li:nth-of-type(2) {
    margin-top: 60px;
  }
  .menu ul.active-menu li:last-of-type {
    padding-bottom: 12px;
  }
  .menu ul.active-menu li a {
    padding: 12px 12px 0;
    color: #dfdfdf;
    text-align: left;
  }
  .menu ul.active-menu li a:hover, .menu ul.active-menu li a:active {
    color: #fff;
  }
  .menu ul.active-menu li ul.sub-nav {
    list-style-type: circle;
  }
  .menu ul.active-menu li ul.sub-nav li {
    margin-top: 0;
  }
  .menu ul.active-menu li ul.sub-nav li a {
    padding: 12px 24px 0;
  }
}

section.intro {
  width: 100%;
  height: 480px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
@media (max-width: 768px) {
  section.intro {
    height: auto;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
}
section.intro .banner {
  width: 70%;
  height: 100%;
  border: 2px solid green;
}
@media (max-width: 768px) {
  section.intro .banner {
    width: 100%;
    height: auto;
  }
}
section.intro .nomad-blue {
  width: 30%;
  height: 100%;
  border: 2px solid #0073CF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
@media (max-width: 768px) {
  section.intro .nomad-blue {
    width: 100%;
    height: auto;
  }
}
section.intro .nomad-blue .content {
  height: 80%;
  color: #fff;
  background-color: #0073CF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
section.intro .nomad-blue .content p {
  padding: 12px;
}
section.intro .nomad-blue a.call-to-action {
  width: auto;
  height: 20%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
section.intro .nomad-blue a.call-to-action img {
  width: auto;
  height: 48px;
}

/*# sourceMappingURL=styles.css.map */
