
section.intro {
    @extend %transition-smooth;
    width: 100%;
    height: 480px;
    @include display-flex;
    @include flex-flow(row nowrap);
    @include breakpoint(tablet) {
        height: auto;
        @include flex-flow(column nowrap);
    }
    
    .banner {
        width: 70%;
        height: 100%;
        border: 2px solid green;
        @include breakpoint(tablet) {
            width: 100%;
            height: auto;
        }
    }

    .nomad-blue {
        width: 30%;
        height: 100%;
        border: 2px solid $nomad-blue;
        @include display-flex;
        @include flex-flow(column nowrap);
        @include breakpoint(tablet) {
            width: 100%;
            height: auto;
        }

        .content {
            height: 80%;
            color: $white;
            background-color: $nomad-blue;
            @include display-flex;
            @include flex-flow(column nowrap);
            @include justify-content(center);
            @include align-items(flex-start);

            p {
                padding: 12px;
            }
        }

        a.call-to-action {
            width: auto;
            height: 20%;
            @include display-flex;
            @include justify-content(center);
            @include align-items(center);

            img {
                width: auto;
                height: 48px;
            }
        }
    }
}