
.menu {
    z-index: 1000;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0; right: 0; left: 0;
    background-color: $white;
    @include box-shadow(1px, 1px, 1px, 1px, rgba($dark, 0.3));
    @include breakpoint(tablet) {
        height: 48px;
    }

    // menu mobile icon
    a.nav-mobile {
        display: none;
        @include breakpoint(tablet) {
            display: block;
            width: 100%; height: 50px;
            position: fixed;
            top: 0;
            background-color: $nomad-blue;
            z-index: 500;
        }
    
        i.fas {
            padding: 15px;
            color: $white;         
            font-size: 18px;
    
            &:first-of-type {
                display: block; 
            } 
    
            &:last-of-type {
                display: none;
            }
        }
    }
    
    a.active-toggle {
        i.fas {
            &:first-of-type{
                display: none;
            }
    
            &:last-of-type {
                display: block;
            }
        }
    }

    .mobile-logo-container {
        display: none;
        @include breakpoint(tablet) {
            display: block;
            position: absolute;
            top: 12px; right: 15px;
            z-index: 500;
        }

        a {

            img {
                width: auto;
                height:28px;
            }
        }
    }

    // desktop & mobile menu 
    ul.nav {
        @extend %transition-smooth;
        height: inherit;
        @include display-flex;
        @include flex-flow(row nowrap);
        @include justify-content(space-around);
        @include align-items(center);
        @include breakpoint(tablet) {
            position: absolute;
            top: -100%;
        }
        
        li {
            min-width: 110px;
            height: 100%;
            position: relative;
            text-align: center;
            @include display-flex;
            @include justify-content(center);
            @include align-items(center);
            @include breakpoint(tablet) {
                width: 100%;
                min-width: 0;
                height: auto;
                margin: 0;
                @include justify-content(center);
                @include flex-flow(column nowrap);
            }

            a {
                padding: 0 12px;
                color: $dark;
                font-family: $roboto-medium;
                font-size: 12px;
                text-decoration: none;
                @include breakpoint(tablet) {
                    width: 100%;
                }

                &:hover, &:active {
                    color: $nomad-blue;
                    font-family: $roboto-bold;
                }
            }

            &:hover ul.sub-nav {
                top: 100%;
                opacity: 1;
                @include breakpoint(tablet) {
                    top: auto;
                }
            }

            ul.sub-nav {
                @extend %transition-smooth;
                width: 100%;
                height: auto;
                position: absolute;
                top: -100%;
                background-color: $white;
                opacity: 0;
                @include box-shadow(2px, 2px, 1px, 0, rgba($dark, 0.3));
                @include breakpoint(tablet) {
                    position: relative;
                    top: auto;
                    background-color: transparent;
                    opacity: 1;
                    @include box-shadow(0, 0, 0, 0, transparent);
                }

                li {
                    text-align: left;
                    @include display-flex;
                    @include flex-flow(column nowrap);
                    @include align-items(flex-start);
                    @include breakpoint(tablet) {
                        padding: 0;
                        text-align: center;

                        &:last-of-type {
                            margin-bottom: 0 !important;
                        }
                    }

                    a {
                        padding: 12px;
                    }
                }
            }
        }

        li.logo-container {
            @include breakpoint(tablet) {
                display: none;
            }

            a {

                img {
                    width: auto;
                    height: 36px;
                }
            }
        }
    }

    ul.active-menu {
        @include breakpoint(tablet) {
            width: 100%;
            height: auto;
            min-height: 220px;
            top: auto;
            background-color: rgba($nomad-blue, 0.9);
            @include display-flex;
            @include flex-flow(column nowrap);

            li {

                &:nth-of-type(2) {
                    margin-top: 60px;
                }

                &:last-of-type {
                    padding-bottom: 12px;
                }

                a {
                    padding: 12px 12px 0;
                    color: $light;
                    text-align: left;

                    &:hover, &:active {
                        color: $white;
                    }
                }
    
                ul.sub-nav {
                    list-style-type: circle;
                    
                    li {
                        margin-top: 0;
                        
                        a {
                            padding: 12px 24px 0;
                        }
                    }
                }
            }
        } 
    }
}