
// global
body {
    background-color: $lighter;
}
// adjustment of all first sections for navigation menu
section:first-of-type {
    position: relative;
    top: 90px;
    @include breakpoint(tablet) {
        top: 48px;
    }
}

// usable spacers
.spacer {
    width: 100%;

    &-small {
        height: 20px;
        @include breakpoint(tablet) {
            height: 12px;
        }
    }

    &-medium {
        height: 42px;
        @include breakpoint(tablet) {
            height: 24px;
        }
    }

    &-large {
        height: 72px;
        @include breakpoint(tablet) {
            height: 48px;
        }
    }
}