//--- --- --- ---//
//--- MIXINS ---//
//--- --- --- ---//
// all CSS properties that require vendor prefixes in order for those properties' styles to work in multiple browsers, are defined


//--- MEDIA QUERY BREAKPOINTS ---//
@mixin breakpoint($breakpoint) {
  @if $breakpoint == desktop {
    @media (max-width: 1262px) {
      @content;
    }
  }
  @else if $breakpoint == laptop {
    @media (max-width: 886px) {
      @content;
    }
  }
  @else if $breakpoint == tablet {
    @media (max-width: 768px) {
      @content;
    }
  }
  @else if $breakpoint == phablet {
    @media (max-width: 540px) {
      @content;
    }
  }
  @else if $breakpoint == phone {
    @media (max-width: 320px) {
      @content;
    }
  }
}

//--- ANIMATION ---//
// properties: animation-name, animation-duration, animation-iteration-count, animation-direction, animation-timing-function, animation-fill-mode, animation-delay
@mixin animate($name, $duration, $timing-function, $animation-delay, $iteration) {
  -webkit-animation: $name $duration $timing-function $animation-delay $iteration;
  -moz-animation: $name $duration $timing-function $animation-delay $iteration;
  -o-animation: $name $duration $timing-function $animation-delay $iteration;
  animation: $name $duration $timing-function $animation-delay $iteration;
}


//--- FLEXBOX ---//
// @include display-flex;
@mixin display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
// @include flex-flow($flow);
// values:  $flow -> direction: row, column, row-reverse, column-reverse | wrapping: wrap, nowrap, wrap-reverse
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}
// @include justify-content($justification);
// values: $justify -> flex-start, flex-end, center, space-between, space-around
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}
// @include align-items($alignment);
// values: $align -> flex-start, flex-end, center, stretch, baseline
@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}
// @include align-content($alignment); - applies to: multi-line flex containers
// values: flex-start | flex-end | center | space-between | space-around | stretch 
@mixin align-content($align) {
  -webkit-align-content: $align;
  -moz-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}
// @include order($order);
// values: integer
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}


// --- BACKGROUND SIZE --- //
@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
  -moz-background-size: $background-size;
  -o-background-size: $background-size;
  background-size: $background-size;
}


// --- BORDER RADIUS --- //
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


// --- BOX-SHADOW --- //
@mixin box-shadow($top, $left, $blur, $spread, $color, $inset:false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $spread $color;
    -moz-box-shadow: inset $top $left $blur $spread $color;
    box-shadow: inset $top $left $blur $spread $color;
  }
  @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}
// --- TEXT-SHADOW --- //
@mixin text-shadow($x, $y, $blur, $color) {
  text-shadow: $x $y $blur $color;
}


// --- TRANSITIONS --- //
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// --- TRANSFORM --- //
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
	-o-transform: $transforms;
	transform: $transforms;
}
// rotate
@mixin rotate($deg) { // don't add 'deg' upon using this mixin due to '(#{variable}deg)'
  @include transform(rotate(#{$deg}deg));
  // -ms-transform: rotate(#{$deg}deg);
  // -webkit-transform: rotate(#{$deg}deg);
  // -moz-transform: rotate(#{$deg}deg);
  // -o-transform: rotate(#{$deg}deg);
  // transform: rotate(#{$deg}deg);
}
// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
}
// translate
@mixin translate($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin($origin) {
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
	-o-transform-origin: $origin;
	transform-origin: $origin;
}
@mixin translate3d($x, $y, $z) {
	-webkit-transform: translate3d($x, $y, $z);
	-moz-transform: translate3d($x, $y, $z);
	-o-transform: translate3d($x, $y, $z);
	transform: translate3d($x, $y, $z);
}

// -- SUPPORT -- //
// backface-visibility
@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
  backface-visibility: $visibility;
}


// -- LINEAR-GRADIENT -- //
@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@function legacy-direction($value) {
  @if is-direction($value) == false {
    @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
  }

  $conversion-map: (
    to top : bottom,
    to top right : bottom left,
    to right top : left bottom,
    to right : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom : top,
    to bottom left : top right,
    to left bottom : right top,
    to left : right,
    to left top : right bottom,
    to top left : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - $value;
}
// -- LINEAR-GRADIENT: BORDERS -- //
//
//


//-- MASKING --//
@mixin mask($url) {
  -webkit-mask: url($url) no-repeat;
  mask: url($url) no-repeat;
}
@mixin mask-none($none) {
  -webkit-mask: none;
  mask: none;
}
@mixin mask-size($value) {
  -webkit-mask-size: $value; 
  mask-size: $value;  
}
@mixin mask-position($x, $y) {
  -webkit-mask-position: $x, $y;
  mask-position: $x, $y;
}
@mixin mask-mode($mode) {
  -webkit-mask-mode: $mode;
  mask-mode: $mode;
}


//-- APPEARANCE --//
@mixin appearance($value) {
  -moz-appearance: $value;
  -webkit-appearance: $value;
  appearance: $value;
}


//-- TEXT --//
// element will require either a display property value of 'block' or 'inline-block'
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin writing-mode($value) {
  -webkit-writing-mode: $value;
  writing-mode: $value;
}

@mixin text-orientation($value) {
  -webkit-text-orientation: $value;
  text-orientation: $value;
}

//-- USER-SELECT --//
// none, text, etc.
@mixin user-select($value) {
  -webkit-touch-callout: $value;
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

//-- FILTER --//
@mixin filter-grayscale($value) {
  -webkit-filter: grayscale($value);
  filter: grayscale($value);
}