
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
div, h1, h2, h3, h4, h5, ul, li, p {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
