
h1, h2, h3, h4, h5, h6 {
    font-family: $roboto-bold;
    letter-spacing: 7px;
}

h2 {
    font-size: 60px;
    @include breakpoint(phablet) {
        font-size: 42px;
    }
}

h3 {
    font-size: 42px;
    @include breakpoint(phablet) {
        font-size: 24px;
    }
}

p, a, span, li, label {
    font-family: $roboto-light;
    letter-spacing: 3px;
}

p {
    font-size: 14px;
    @include breakpoint(phablet) {
        font-size: 12px;
    }
}