

// FONTS
$roboto-light: 'Roboto-light';
$roboto-light-italic: 'Roboto-light-italic';
$roboto-regular: 'Roboto-regular';
$roboto-medium: 'Roboto-medium';
$roboto-medium-italic: 'Roboto-medium-italic';
$roboto-bold: 'Roboto-bold';
$roboto-black: 'Roboto-black';


// COLORS
$black: #000;
$darker: #080808;
$dark: #333;
$neutral: #aaa;
$light: #dfdfdf;
$lighter: #efefef;
$white: #fff;

$nomad-blue: #0073CF;

$yellow: #d3c894;
$yellow-bright: #d3c168;
$blue: #236cd8;
$red: #a31337;
$orange: #eb770c;